/*减法*/
$full-width: 960px;
$sidebar-width: 200px;

.content {
  width: $full-width -  $sidebar-width;
}

/*乘法*/
.box {
  width: 20px * 2; //单位相同只需写一遍！不然会报错
}

/*除法*/
p {
  font: 10px/8px;             // 纯 CSS，不是除法运算
  $width: 1000px;
  width: $width/2;            // 使用了变量，是除法运算
  min-height: round(1.5)/2;   // 使用了函数，是除法运算
  height: (500px/2);          // 使用了圆括号，是除法运算
  margin-left: 5px + 8px/2px; // 使用了加（+）号，是除法运算
}
.box {
  width: (1000px / 100px);
}

/*变量计算*/
$content-width: 720px;
$sidebar-width: 220px;
$gutter: 20px;

.container {
  width: $content-width + $sidebar-width + $gutter;
  margin: 0 auto;
}

/*数学运算*/
.box {
  width: ((220px + 720px) - 11 * 20 ) / 12 ;
}

/*颜色运算*/
p {
  color: #010203 + #040506;
}

p {
  color: #010203 * 2;
}

/*字符运算*/
$content: "Hello" + " " + "Sass!";
.box:before {
  content: " #{$content} ";
}

div {
  cursor: e + -resize;
}

p:before {
  content: "Foo " + Bar;
  font-family: sans- + "serif";
}